/* Navbar.css */

.navbar {
    background-color: #012860;
    color: #5885AF;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .logo img {
    /*background-image: url('logop.png');*/
    height: 40px; /* Adjust height as needed */
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
  }
  